<!-- Index page that lists every live note created on the system -->

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
{% if request.user.is_authenticated %}



<div id="notesWrapper">
    <div id="notesContent">
        {% if latest_notes %}

        {% for note in latest_notes %}
           <li>
               <p>{{ note.note_title }}</p>
               <p>{{ note.note_text }}</p>

               <a href="/admin/polls/note/{{ note.id }}/change/"> edit </a>
               <a href="/admin/polls/note/{{ note.id }}/delete/">delete</a>
           </li>

        {% endfor %}

    </div>
     <a href="/admin/polls/note/add/"> Create new </a>
</div>
        {% else %}
            <p>No notes are available.</p>
        {% endif %}
        {% else %}
        <p>Please login first - </p> <a href="/admin/"> Click</a>

        {% endif %}




