<!-- Index page that lists every live note created on the system -->

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
{% if request.user.is_authenticated   %}
<!-- navigation and user panel -->
<div id="header">
        <div id="branding">

<h1 id="site-name"><a href="/admin/">NotesOrganizer</a></h1>

        </div>


        <div id="user-tools">

                Welcome,
                <strong>{{ request.user.username.title }}</strong>.
                <a href="/logout/">Log out</a>

        </div>



    </div>

<!-- div that holds the notes -->
<div id="Wrapper">
    <div id="notesContent">
        {% if latest_notes %}

        {% for note in latest_notes %}
           <li>
               <p> ---------- </p>
               <p>Title: {{ note.note_title }}</p>
               <p>Text: {{ note.note_text }}</p>
               <a href="{% url 'note_edit' note.id %}">edit</a>
               <a href="{% url 'note_delete' note.id %}">delete</a>
             <!--  <a href="/admin/polls/note/{{ note.id }}/change/"> edit </a> -->
            <!--   <a href="/admin/polls/note/{{ note.id }}/delete/">delete</a> -->
           </li>

        {% endfor %}

    </div>
     <a href="/admin/polls/note/add/"> Create new </a>
</div>
        {% else %}
            <p>No notes are available.</p>
            <a href="/admin/polls/note/add/"> Create new </a>
        {% endif %}

        {% else %}
<!-- not logged in -->
    <div id="header">
        <div id="branding">
           <h1 id="site-name"><a href="/admin/">NotesOrganizer</a></h1>
        </div>
    </div>
    <div id="Wrapper">
         <p>You have to login first! - </p> <a href="/login/"> Login</a>
    </div>



        {% endif %}




